Options +FollowSymlinks 
Options +MultiViews
Options +SymLinksifOwnerMatch

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -l
	RewriteRule ^ - [L]

	RewriteRule ^export/([^./]+)/?$ /documents/export.php?filename=$1 [L,QSA]
	
	# Auth Page
	RewriteRule ^(index|signin)/?$ index.php?a=signin [L,QSA]
	RewriteRule ^signup/?$ /index.php?a=signup [L,QSA]
	RewriteRule ^forgot/?$ /index.php?a=forgot [L,QSA]
	RewriteRule ^verification/([^./]+)?$ /index.php?a=verification&b=$1 [L,QSA]
	RewriteRule ^reset/([^./]+)?$ /index.php?a=reset&b=$1 [L,QSA]
	RewriteRule ^otp/?$ /index.php?a=otp [L,QSA]


	# Dashboard Page
	RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ home.php?a=$1&b=$2&c=$3&d=$4&e=$5 [L,QSA]
	RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ home.php?a=$1&b=$2&c=$3&d=$4 [L,QSA]
	RewriteRule ^([^./]+)/([^./]+)/([^/]+)/?$ home.php?a=$1&b=$2&c=$3 [L,QSA]
	RewriteRule ^([^./]+)/([^./]+)/?$ home.php?a=$1&b=$2 [L,QSA]
	RewriteRule ^([^./]+)/?$ home.php?a=$1 [L,QSA]
</IfModule>