Options +FollowSymlinks 
Options +MultiViews
Options +SymLinksifOwnerMatch
Options -Indexes

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Header append X-Frame-Options: SAMEORIGIN
# Header set X-XSS-Protection "1; mode=block"
# Header set X-Content-Security-Policy "allow 'self';"
# Header set X-Content-Type-Options "nosniff"
# Header set Strict-Transport-Security "max-age=31536000; preload; includeSubdomains" env=HTTPS

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

    RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -l
	RewriteRule ^ - [L]

    RewriteRule ^auth/([^./]+)/?$ index.php?a=auth&b=$1 [L,QSA]
	RewriteRule ^public/([^./]+)/?$ index.php?a=public&b=$1 [L,QSA]
	RewriteRule ^regol/([^./]+)/?$ index.php?a=regol&b=step&c=$1 [L,QSA]
	RewriteRule ^([^./]+)/([^./]+)/?$ index.php?a=$1&b=$2 [L,QSA]
	
	# RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ index.php?a=$1&b=$2&c=$3&d=$4&e=$5&f=$6g=$7h=$8 [L,QSA]
	# RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ index.php?a=$1&b=$2&c=$3&d=$4&e=$5&f=$6g=$7 [L,QSA]
	# RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ index.php?a=$1&b=$2&c=$3&d=$4&e=$5&f=$6 [L,QSA]
	# RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ index.php?a=$1&b=$2&c=$3&d=$4&e=$5 [L,QSA]
	# RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ index.php?a=$1&b=$2&c=$3&d=$4 [L,QSA]
	RewriteRule ^([^./]+)/([^./]+)/([^/]+)/?$ index.php?a=$1&b=$2&c=$3 [L,QSA]
</IfModule>